* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
.nav {
    width: 100%;
    background-color: #2ecc71;
}
.nav-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-inner h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #2c3e50;
    padding: 10px;
}
.nav-inner ul {
    display: flex;
    align-items: center;
}
.nav-ul li {
    margin: 0 10px;
    font-size: 1.25rem;
    list-style: none;
    display: inline-block;
}
.nav-ul li a {
    text-decoration: none;
    color: #2c3e50;
    display: inline-block;
}
.cool-link::after {
    content: '';    
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}
.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.cool-link:hover {
    color: white;
    transition: color 0.3s;
}

/* Heros Container *********************** */
.hero-container {
    width: 100%;
    height: 85vh;
    background: url('../photos/blackjack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
#play-button a {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 25px;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #2c3e50;
    background-color: #2ecc71;
    border: none;
    border-radius: 10px;;
}
#play-button a {
    text-decoration: none;
}
#play-button a:hover {
    color: white;
    transition: color .3s ease-in;
}

/* Information section *********************** */
.information-container {
    width: 100%;
    margin-top: 15px;
}
.information-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}
.information-container-inner h2 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}
.information-ul-container {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}
.information-ul {
    list-style: disc;
    margin-left: 80px;
}
.information-ul li {
    font-family: 'Bitter', serif;
    font-size: 1.25rem;
    font-weight: 100;
    margin: 20px;
}

/* Game container style ******************** */
.game-container {
    width: 100%;
    margin-top: 25px;
}
.game-container-inner {
    max-width: 1200px;
    /* height: 800px; */
    margin: 0 auto;
    background-color: #2ecc71;
}
.start-container {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
#startButton,
#restartButton {
    width: 100px;
    padding: 10px 25px;
    font-size: 1.25rem;
}
.cards {
    height: 150px;
    width: 100px;
    /* border: 1px solid purple; */
}
.container {
    margin: 10px auto;
    width: 500px;
}
.dealer-container {
    border: 1px solid white;
}
.dealer-cards-container {
    display: flex;
    height: 150px;
}
.bet-container {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bet-container .bet-button {
    padding: 10px 25px;
    width: 100px;
    font-size: 1.25rem;
}
.player-container {
    border: 1px solid blue;
}
.player-cards-container {
    display: flex;
    height: 150px;
}
.chips-container {
    border: 2px solid grey;
}
.chips-container-inner {
    display: flex;
    justify-content: space-between;
}
.chips {
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 25px;
    cursor: pointer;
    font-size: 1.5rem;
}
