* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
.nav {
    width: 100%;
    background-color: #2ecc71;
}
.nav-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-inner h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #2c3e50;
    padding: 10px;
}
.nav-inner ul {
    display: flex;
    align-items: center;
}
.nav-ul li {
    margin: 0 10px;
    font-size: 1.25rem;
    list-style: none;
    display: inline-block;
}
.nav-ul li a {
    text-decoration: none;
    color: #2c3e50;
    display: inline-block;
}
.cool-link::after {
    content: '';    
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}
.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.cool-link:hover {
    color: white;
    transition: color 0.3s;
}

/* Heros Container *********************** */
.hero-container {
    width: 100%;
    height: 85vh;
    background: url('../photos/blackjack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
#play-button a {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 25px;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #2c3e50;
    background-color: #2ecc71;
    border: none;
    border-radius: 10px;;
}
#play-button a {
    text-decoration: none;
}
#play-button a:hover {
    color: white;
    transition: color .3s ease-in;
}

/* Information section *********************** */
.information-container {
    width: 100%;
    margin-top: 15px;
}
.information-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.information-container-inner h2 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}
.information-ul-container {
    width: 80%;
    margin: 0 auto;
}
.information-ul {
    list-style: disc;
    margin-left: 80px;
}
.information-ul li {
    font-family: 'Bitter', serif;
    font-size: 1.25rem;
    font-weight: 100;
    margin: 20px;
}

/* Game container style ******************** */
.game-container {
    width: 100%;
}
.game-container-inner {
    max-width: 1200px;
    /* height: 800px; */
    margin: 25px auto;
    background-color: #2ecc71;
    border-radius: 50px;
    border: 10px solid black;
}
#startButton,
#restartButton {
    width: 200px;
    padding: 10px 25px;
    font-size: 1.25rem;
    font-family: 'Bitter', serif;
}
.cards {
    height: 150px;
    width: 100px;
    /* border: 1px solid purple; */
    margin: 0 5px;
}
.container {
    margin: 10px auto;
    width: 500px;
}
.dealer-container {
    border: 1px solid white;
}
.dealer-cards-container {
    display: flex;
    height: 150px;
}
.dealer-container-inner h2 {
    font-family: 'Bitter', serif;
}

/* Dealer flip card */
.flip-container {
    position: relative;
}
.flip-container .card {
    transform-style: preserve-3d;
}
.flip-container .card .card-front,
.flip-container .car .card-back {
    position: absolute;
    backface-visibility: hidden;
}
.flip-container .car .card-back {
    transform: rotateY(180deg);
    perspective: 1000px;
}
.flip-container .card .card-front {
    transition: all 0.5s ease-out;
}

.bet-container {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bet-container .bet-button {
    padding: 10px 25px;
    width: 200px;
    font-size: 1.25rem;
    font-family: 'Bitter', serif;
}
.bet-container h2 {
    font-family: 'Bitter', serif;
}
#chips-wagered {
    font-family: 'Bitter', serif;
}
.player-container {
    border: 1px solid blue;
}
.player-container-inner h2 {
    font-family: 'Bitter', serif;
}
.player-cards-container {
    display: flex;
    height: 150px;
}
.chips-container {
    border: 2px solid grey;
}
.chips-container-inner {
    display: flex;
    justify-content: space-between;
}
.chips {
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Bitter', serif;
}
.total-chips-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-chips-container h2 {
    font-family: 'Bitter', serif;
}
#total-chips {
    font-family: 'Bitter', serif;
}
.deal-container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.deal-container-inner h2 {
    font-family: 'Bitter', serif;
}
#deal-button {
    padding:10px 25px;
    font-size: 1.5rem;
    font-family: 'Bitter', serif;
}
#winner {
    display: none;
    font-family: 'Bitter', serif;
    text-align: center;
}